{
  "sourceMaps": false,
  "ignore": ["node_modules/**"],
  "presets": [
    ["@babel/env", {
      "modules": false,
      "targets": {
        "browsers": [ ">0.25%", "ie 11"]
      }   ,
      "useBuiltIns": "usage",
      "corejs": "3.6.5"
    }]
  ],
  "env": {
    "test": {
      "presets": [["@babel/env"]]
    }
  },
  "plugins": [
    "transform-object-rest-spread"
  ]
}
